# Object files
*.o
*.obj

# Libraries
#*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# ats
out/*
gui/src/src.pro.user.*

libs/libsdk/xm_sdk/Debug/*
libs/libsdk/xm_sdk/xm_sdk/Debug
libs/libsdk/xm_sdk/Release/*

*.ncb

gui/build-debug/*
